<% layout('layouts/boilerplate') %>

<h1>Edit creativespot</h1>
<form action="/creativespots/<%=creativespot._id%>?_method=PUT" method="POST">
  <div>
    <label for="title">Title</label>
    <input
      type="text"
      id="title"
      name="creativespot[title]"
      value="<%=creativespot.title%> "
    />
  </div>
  <div>
    <label for="location"><Title>Location</Title></label>
    <input
      type="text"
      id="location"
      name="creativespot[location]"
      value="creativespot.location"
    />
  </div>
  <button>Update Creativespot</button>
</form>
<a href="/creativespots/<%= creativespot._id %>">Back to creativespot</a>
