<% layout('layouts/boilerplate') %>
<h1>All Creativespots</h1>
<div>
  <a href="/creativespots/new">Add creativespots</a>
</div>
<ul>
  <% for(let creativespot of creativespots) { %>
  <li>
    <a href="creativespots/<%= creativespot._id %>">
      <%= creativespot.title %></a
    >
  </li>
  <% } %>
</ul>
