<% layout('layouts/boilerplate') %>

<form action="/creativespots" method="POST">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="creativespot[title]" />
  </div>
  <div>
    <label for="location"><Title>Location</Title></label>
    <input type="text" id="location" name="creativespot[location]" />
  </div>
  <button>Add Creativespot</button>
</form>
<a href="/creativespots">All creativespots</a>
